{% extends 'base.html.twig' %}

{% block title %}Mis Tours{% endblock %}

{% block body %}
    <style>
        main{
            margin-top:8%;
        }
    </style>
    <script>
        function cancelar(boton){
            var formData = new FormData();
            formData.append('idReserva', boton.parentNode.id);

            $.ajax({
                url: '/cancelarReserva',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function(data) {
                    console.log(data);
                    location.reload();
                },
                error: function(error) {
                    console.log('Error al obtener los datos de la API:', error);
                } 
            });
        }

        function pasarLista(boton){
            window.location.href = "http://localhost:8000/mis_tours/pasar_lista/"+boton.parentNode.id.replace("Tour","");
        }

        function informe(boton){
            var tourId=boton.parentNode.id;
            var dialogDiv = $("<div>");
            dialogDiv.append('<label for="imgTour">Imagen Tour:</label>');
            dialogDiv.append('<input type="file" id="imgTour">')
            dialogDiv.append('<br>');
            dialogDiv.append('<label for="observaciones">Observaciones:</label>');
            dialogDiv.append('<textarea id="observaciones" name="observaciones" rows="4" cols="50"></textarea>');
            dialogDiv.append('<br>');
            dialogDiv.append('<label for="recaudacion">Dinero Recaudado:</label>');
            dialogDiv.append('<input type="number" id="recaudacion">');
            dialogDiv.dialog({
                modal: true,
                position: { my: "center", at: "center", of: window },
                resizable: false,
                draggable: false, 
                width:"auto",
                buttons: {
                    "Confirmar": function() {
                        var imagen=$('#imgTour')[0].files[0];
                        var observaciones=$("#observaciones").val();
                        var recaudacion=$("#recaudacion").val();

                        var formData = new FormData();
                        formData.append('idTour', tourId);
                        formData.append('foto', imagen);
                        formData.append('observaciones', observaciones);
                        formData.append('recaudacion',recaudacion);

                        $.ajax({
                            url: '/informeAPI',
                            type: 'POST',
                            data: formData,
                            processData: false,
                            contentType: false,
                            success: function(data) {
                                console.log(data);
                                if(data="YA HAY UN INFORME"){
                                    alert("Ya existe un informe de este tour");
                                }else{
                                    alert("Informe hecho");
                                }
                                $(this).dialog("close");
                            },
                            error: function(error) {
                                console.log('Error al obtener los datos de la API:', error);
                            } 
                        });
                    },
                    "Cancelar": function() {
                        $(this).dialog("close");
                    }
                },
                close: function() {
                    $(this).dialog("destroy").remove();
                }
            });
        }

        function valorar(boton) {
            var dialogDiv = $("<div>");
            dialogDiv.append('<label for="notaGuia">Nota Guia:</label>');
            dialogDiv.append('<input type="number" id="notaGuia">')
            dialogDiv.append('<br>');
            dialogDiv.append('<label for="notaRuta">Nota Ruta:</label>');
            dialogDiv.append('<input type="number" id="notaRuta">');
            dialogDiv.append('<br>');
            dialogDiv.append('<label for="comentarios">Comentarios:</label>');
            dialogDiv.append('<textarea id="comentarios" name="comentarios" rows="4" cols="50"></textarea>');

            dialogDiv.dialog({
                modal: true,
                position: { my: "center", at: "center", of: window },
                resizable: false,
                draggable: false, 
                width:"auto",
                buttons: {
                    "Valorar": function() {
                        var notaGuia=$("#notaGuia").val();
                        var notaRuta=$("#notaRuta").val();
                        var comentarios=$("#comentarigos").val();

                        var formData = new FormData();
                        formData.append('notaGuia', notaGuia);
                        formData.append('notaRuta', notaRuta);
                        formData.append('comentarios',comentarios);
                        formData.append('idReserva',boton.parentNode.id);

                        $.ajax({
                            url: '/valorarReserva',
                            type: 'POST',
                            data: formData,
                            processData: false,
                            contentType: false,
                            success: function(data) {
                                console.log(data);
                                if(data=="YA EXISTE UNA VALORACION"){
                                    alert("YA EXISTE UNA VALORACION DE ESTA RESERVA");
                                }else{
                                    alert("VALORACION HECHA");
                                }
                            },
                            error: function(error) {
                                console.log('Error al obtener los datos de la API:', error);
                            } 
                        });
                    },
                    "Cancelar": function() {
                        $(this).dialog("close");
                    }
                },
                close: function() {
                    $(this).dialog("destroy").remove();
                }
            });
        }
    </script>
    <main>
        <div>
            <h1>MIS TOURS</h1>
        </div>
        <div>
            {% for tour in tourGuias %}
                <div id="Tour{{tour.id}}">
                    <h3>{{tour.codRuta.nombre}}</h3>
                    <h5>{{tour.FechaHora|date('d-m-Y H:i:s')}}</h5>
                    {% set fechaTour = tour.FechaHora|date("Y-m-d H:i:s") %}
                    {% set fecha30MinDespues = fechaTour|date_modify('+30 minutes')|date("Y-m-d H:i:s") %}
                    {% set fechaActual = "now"|date("Y-m-d H:i:s") %}

                    <button onclick="pasarLista(this)">Pasar Lista</button>
                    {% if fechaActual >= fechaTour and fechaActual < fecha30MinDespues %}
                        <!-- Hacer algo si la fecha actual está dentro del rango -->
                        <button>Pasar Lista</button>
                    {% elseif fechaActual > fecha30MinDespues %}
                        <!-- Hacer algo si la fecha actual está fuera del rango -->
                        <button onclick="informe(this)">Informe</button>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <div>
            {% for reserva in reservas %}
                <div id="{{reserva.id}}">
                    <h3>{{reserva.codTour.codRuta.nombre}}</h3>
                    <h5>{{reserva.codTour.FechaHora|date('d-m-Y H:i:s')}}</h5>
                    {% set fechaTour = reserva.codTour.FechaHora|date("Y-m-d H:i:s") %}
                    {% set fecha30MinDespues = fechaTour|date_modify('+30 minutes')|date("Y-m-d H:i:s") %}
                    {% set fechaActual = "now"|date("Y-m-d H:i:s") %}
                    
                    {% if 'ROLE_USER' in app.user.roles %}
                        {% if fechaActual <= fechaTour %}
                            <button onclick="cancelar(this)">Cancelar Reserva</button>
                        {% else %}
                            <button onclick="valorar(this)">Valorar</button>
                        {% endif %}
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock %}