{% extends 'base.html.twig' %}

{% block title %}Mis Tours{% endblock %}

{% block body %}
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f9f9f9;
            margin: 0;
            padding: 0;
        }

        main {
            max-width: 800px;
            margin: 5em auto;
            margin-top:9em;
            padding: 20px;
            background-color: #ffffff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h1 {
            text-align: center;
            color: #ff6600;
        }

        .reservaContainer {
            margin-top: 20px;
            margin-bottom: 20px;
            padding: 15px;
            background-color: #ffcc99;
            border: 1px solid #e0e0e0;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        .reservaContainer h3 {
            margin: 0;
            color: #333333;
            font-size: 18px;
        }

        .reservaContainer h5 {
            margin-top: 5px;
            color: #666666;
            font-size: 14px;
        }

        .reservaContainer button {
            margin-top: 10px;
            padding: 8px 16px;
            background-color: #ff6600;
            border: none;
            color: #ffffff;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        .reservaContainer button:hover {
            background-color: #ff8533;
        }

        .tourContainer {
            margin-top: 20px;
            margin-bottom: 20px;
            padding: 15px;
            background-color: #ffcc99;
            border: 1px solid #e0e0e0;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        .tourContainer h3 {
            margin: 0;
            color: #333333;
            font-size: 18px;
        }

        .tourContainer h5 {
            margin-top: 5px;
            color: #666666;
            font-size: 14px;
        }

        .tourContainer button {
            margin-top: 10px;
            padding: 8px 16px;
            background-color: #ff6600;
            border: none;
            color: #ffffff;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        .tourContainer button:hover {
            background-color: #ff8533;
        }
    </style>
    <script>
        function cancelar(boton){
            var formData = new FormData();
            formData.append('idReserva', boton.parentNode.id);

            $.ajax({
                url: '/cancelarReserva',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function(data) {
                    console.log(data);
                    location.reload();
                },
                error: function(error) {
                    console.log('Error al obtener los datos de la API:', error);
                } 
            });
        }

        function pasarLista(boton){
            window.location.href = "http://localhost:8000/mis_tours/pasar_lista/"+boton.parentNode.id.replace("Tour","");
        }

        function informe(boton){
            var tourId=boton.parentNode.id;
            var dialogDiv = $("<div>");
            dialogDiv.append('<label for="imgTour">Imagen Tour:</label>');
            dialogDiv.append('<input type="file" id="imgTour">')
            dialogDiv.append('<br>');
            dialogDiv.append('<label for="observaciones">Observaciones:</label>');
            dialogDiv.append('<textarea id="observaciones" name="observaciones" rows="4" cols="50"></textarea>');
            dialogDiv.append('<br>');
            dialogDiv.append('<label for="recaudacion">Dinero Recaudado:</label>');
            dialogDiv.append('<input type="number" id="recaudacion">');
            dialogDiv.dialog({
                modal: true,
                position: { my: "center", at: "center", of: window },
                resizable: false,
                draggable: false, 
                width:"auto",
                buttons: {
                    "Confirmar": function() {
                        var imagen=$('#imgTour')[0].files[0];
                        var observaciones=$("#observaciones").val();
                        var recaudacion=$("#recaudacion").val();

                        var formData = new FormData();
                        formData.append('idTour', tourId);
                        formData.append('foto', imagen);
                        formData.append('observaciones', observaciones);
                        formData.append('recaudacion',recaudacion);

                        $.ajax({
                            url: '/informeAPI',
                            type: 'POST',
                            data: formData,
                            processData: false,
                            contentType: false,
                            success: function(data) {
                                console.log(data);
                                if(data="YA HAY UN INFORME"){
                                    alert("Ya existe un informe de este tour");
                                }else{
                                    alert("Informe hecho");
                                }
                                $(this).dialog("close");
                            },
                            error: function(error) {
                                console.log('Error al obtener los datos de la API:', error);
                            } 
                        });
                    },
                    "Cancelar": function() {
                        $(this).dialog("close");
                    }
                },
                close: function() {
                    $(this).dialog("destroy").remove();
                }
            });
        }

        function valorar(boton) {
            var dialogDiv = $("<div>");
            dialogDiv.append('<label for="notaGuia">Nota Guia:</label>');
            dialogDiv.append('<input type="number" id="notaGuia">')
            dialogDiv.append('<br>');
            dialogDiv.append('<label for="notaRuta">Nota Ruta:</label>');
            dialogDiv.append('<input type="number" id="notaRuta">');
            dialogDiv.append('<br>');
            dialogDiv.append('<label for="comentarios">Comentarios:</label>');
            dialogDiv.append('<textarea id="comentarios" name="comentarios" rows="4" cols="50"></textarea>');

            dialogDiv.dialog({
                modal: true,
                position: { my: "center", at: "center", of: window },
                resizable: false,
                draggable: false, 
                width:"auto",
                buttons: {
                    "Valorar": function() {
                        var notaGuia=$("#notaGuia").val();
                        var notaRuta=$("#notaRuta").val();
                        var comentarios=$("#comentarigos").val();

                        var formData = new FormData();
                        formData.append('notaGuia', notaGuia);
                        formData.append('notaRuta', notaRuta);
                        formData.append('comentarios',comentarios);
                        formData.append('idReserva',boton.parentNode.id);

                        $.ajax({
                            url: '/valorarReserva',
                            type: 'POST',
                            data: formData,
                            processData: false,
                            contentType: false,
                            success: function(data) {
                                console.log(data);
                                if(data=="YA EXISTE UNA VALORACION"){
                                    alert("YA EXISTE UNA VALORACION DE ESTA RESERVA");
                                }else{
                                    alert("VALORACION HECHA");
                                }
                            },
                            error: function(error) {
                                console.log('Error al obtener los datos de la API:', error);
                            } 
                        });
                    },
                    "Cancelar": function() {
                        $(this).dialog("close");
                    }
                },
                close: function() {
                    $(this).dialog("destroy").remove();
                }
            });
        }
    </script>
    <main>
        <div>
            <h1>MIS TOURS</h1>
        </div>
        <div>
            {% for tour in tourGuias %}
                <div id="Tour{{tour.id}}" class="tourContainer">
                    <h3>{{tour.codRuta.nombre}}</h3>
                    <h5>{{tour.FechaHora|date('d-m-Y H:i:s')}}</h5>
                    <h5>TOUR GUIA</h5>
                    {% set fechaTour = tour.FechaHora|date("Y-m-d H:i:s") %}
                    {% set fecha30MinDespues = fechaTour|date_modify('+30 minutes')|date("Y-m-d H:i:s") %}
                    {% set fechaActual = "now"|date("Y-m-d H:i:s") %}

                    {% if fechaActual >= fechaTour and fechaActual < fecha30MinDespues %}
                        <!-- Hacer algo si la fecha actual está dentro del rango -->
                        <button onclick="pasarLista(this)">Pasar Lista</button>
                    {% elseif fechaActual > fecha30MinDespues %}
                        <!-- Hacer algo si la fecha actual está fuera del rango -->
                        <button onclick="informe(this)">Informe</button>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <div>
            {% for reserva in reservas %}
                <div id="{{reserva.id}}" class="reservaContainer">
                    <h3>{{reserva.codTour.codRuta.nombre}}</h3>
                    <h5>{{reserva.codTour.FechaHora|date('d-m-Y H:i:s')}}</h5>
                    <h5>{{reserva.asistentes}} asistentes</h5>
                    {% set fechaTour = reserva.codTour.FechaHora|date("Y-m-d H:i:s") %}
                    {% set fecha30MinDespues = fechaTour|date_modify('+30 minutes')|date("Y-m-d H:i:s") %}
                    {% set fechaActual = "now"|date("Y-m-d H:i:s") %}
                    
                    {% if 'ROLE_USER' in app.user.roles %}
                        {% if fechaActual <= fechaTour %}
                            <button onclick="cancelar(this)">Cancelar Reserva</button>
                        {% else %}
                            <button onclick="valorar(this)">Valorar</button>
                        {% endif %}
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock %}