{% extends 'base.html.twig' %}

{% block title %}Lista Tours{% endblock %}

{% block body %}
<script src="{{asset('js/jquery-3.7.1.js')}}"></script>

    <style>
        main{
            margin-top:5%;
        }

        #selectLocalidadContainer {
            display: flex;
            align-items: center; /* Align items vertically in the center */
            margin-bottom: 20px;
        }

        label {
            margin-right: 10px; /* Add some space to the right of the label */
            font-weight: bold;
            color: #333;
        }

        select {
            width:20%;
            padding: 10px;
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
            background-color: #fff;
            color: #555;
            outline: none;
        }

        select:focus {
            border-color: #007bff;
            box-shadow: 0 0 0 0.1rem rgba(0, 123, 255, 0.25);
        }

        #btnReserva{
            background-color:orange !important;
            color:white !important;
        }
    </style>
    <script>
        function reservar(idRuta) {
            window.location.href = "/reservar/" + idRuta;
        }

        $(function(){
            $('#selectLocalidad').change(function buscar(){
                if($("#selectLocalidad").val()!==""){
                    var formData = new FormData();
                    formData.append('nombreloc', $("#selectLocalidad").val());

                    $.ajax({
                        url: '/obtenerlocAPI',
                        type: 'POST',
                        data: formData,
                        processData: false,
                        contentType: false,
                        success: function(data) {
                            window.location.href = "http://localhost:8000/listadoTours/localidad/"+data;
                        },
                        error: function(error) {
                            console.log('Error al obtener los datos de la API:', error);
                        } 
                    });
                }
            });
        });
        
        
        
    </script>
    
    <main>
        <div class="album py-5 bg-body-tertiary">
            
            <div class="container">
            <div id="selectLocalidadContainer">
                <label>Localidad: </label>
                <select id="selectLocalidad">
                    <option value=""></option>
                    <option value="Jaén">Jaén</option>
                    <option value="Granada">Granada</option>
                    <option value="Pegalajar">Pegalajar</option>
                </select>
            </div>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                
                {% for ruta in rutas %}
                    <div class="col" id="{{ruta.id}}">
                        <div class="card shadow-sm">
                            <img class="bd-placeholder-img card-img-top" src="{{ asset('fotos_rutas/' ~ ruta.foto) }}" alt="Imagen" width="100%" height="225">
                            <div class="card-body">
                                <p class="card-text">{{ruta.nombre}} <br> {{ruta.descripcion | raw}}</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" onclick="reservar({{ruta.id}})" class="btn btn-sm btn-outline-secondary" id="btnReserva">Reservar</button>
                                    </div>
                                    <small class="text-body-secondary">{{ruta.visitas[0].codLocalidad.codProvincia.nombre}}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            </div>
        </div>

    </main>

    <script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

{% endblock %}
